@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero-section {
    font-family: 'Cantata One', serif;
}

#background {
    min-width: 100%;
    height: 94vh;
    background-color: #EDA751;
}

#white {
    margin-top: -655px;
    margin-left: 65px;
    position: absolute;
    width: 93%;
    height: 82vh;
    background-color: #FFFFFF;
    padding: 40px 40px;
    border: 1px solid black;
    border-radius: 20px;
}

#nav .logo {
    margin-left: 50px;
    color: #EDA751;
    font: 30px bold;
}

#nav .items {
    word-spacing: 30px;
    justify-content: space-between;
    margin-right: 320px;
    margin-top: -20px;
    float: right;
}

#nav .items .resume {
    margin-left: 110px;
}

#nav .items .resume .btn-resume {
    border-color: #EDA751;
    background-color: #FFFFFF;
    border-radius: 5px;
    font: bold;
    width: 85px;
}

#content {
    margin-top: 120px;
    margin-left: 50px;
    position: relative;
}

#content .hello {
    font-size: 40px;
}

#content .name {
    font-size: 70px;
}

#content .description {
    color: #EDA751;
    font-size: 40px;
}

#content .button {
    background-color: #EDA751;
    border-radius: 5px;
    width: 70px;
    font-size: 20px bold;
    color: #FFFFFF;
}

#content .details {
    font-size: 30px;
}

#circle {
    position: relative;
    z-index: 3;
    background-color: #EDA751;
    border-radius: 50%;
    width: 57vw;
    height: 67vh;
    margin-left: 820px;
    margin-top: -505px;
}

#white .hat img {
    position: relative;
    z-index: 5;
    margin-top: -495px;
    margin-left: 800px;
    width: 27vw;
    height: auto;
}